<?xml version="1.0" encoding="UTF-8"?>
<analysisEngineDescription xmlns="http://uima.apache.org/resourceSpecifier">
  <frameworkImplementation>org.apache.uima.java</frameworkImplementation>
  <primitive>true</primitive>
  <annotatorImplementationName>eu.project.ttc.engines.FeatureMapper</annotatorImplementationName>
  <analysisEngineMetaData>
    <name>German TreeTagger Multext Mapper</name>
    <description/>
    <version>1.0</version>
    <vendor>University of Nantes (LINA, UMR CNRS 6241)</vendor>
    <configurationParameters>
      <configurationParameter>
        <name>Feature</name>
        <type>String</type>
        <multiValued>false</multiValued>
        <mandatory>true</mandatory>
      </configurationParameter>
    </configurationParameters>
    <configurationParameterSettings>
      <nameValuePair>
        <name>Feature</name>
        <value>
          <string>eu.project.ttc.types.WordAnnotation:category</string>
        </value>
      </nameValuePair>
    </configurationParameterSettings>
    <typeSystemDescription>
      <imports>
        <import name="eu.project.ttc.types.TermSuiteTypeSystem"/>
      </imports>
    </typeSystemDescription>
    <typePriorities/>
    <fsIndexCollection/>
    <capabilities>
      <capability>
        <inputs>
          <type allAnnotatorFeatures="true">org.apache.uima.WordAnnotation</type>
        </inputs>
        <outputs>
          <type allAnnotatorFeatures="true">org.apache.uima.WordAnnotation</type>
        </outputs>
        <languagesSupported>
          <language>de</language>
        </languagesSupported>
      </capability>
    </capabilities>
    <operationalProperties>
      <modifiesCas>true</modifiesCas>
      <multipleDeploymentAllowed>true</multipleDeploymentAllowed>
      <outputsNewCASes>false</outputsNewCASes>
    </operationalProperties>
  </analysisEngineMetaData>
  <externalResourceDependencies>
    <externalResourceDependency>
      <key>Mapping</key>
      <description/>
      <interfaceName>eu.project.ttc.models.FeatureMapping</interfaceName>
      <optional>false</optional>
    </externalResourceDependency>
  </externalResourceDependencies>
  <resourceManagerConfiguration>
    <externalResources>
      <externalResource>
        <name>GermanFeatureMapping</name>
        <description/>
        <fileResourceSpecifier>
          <fileUrl>eu/project/ttc/resources/CategoryMapping.German</fileUrl>
        </fileResourceSpecifier>
        <implementationName>eu.project.ttc.models.FeatureMapping</implementationName>
      </externalResource>
    </externalResources>
    <externalResourceBindings>
      <externalResourceBinding>
        <key>Mapping</key>
        <resourceName>GermanFeatureMapping</resourceName>
      </externalResourceBinding>
    </externalResourceBindings>
  </resourceManagerConfiguration>
</analysisEngineDescription>
